nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40px;
  text-align: center;
  background-color: lightgray;
}

input {
  margin: 5px;
  text-align: center;
  padding: 2px;
  font-size: 16px;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 10px;
}

.link:hover {
  color: darkslategray;
}

.App {
  text-align: center;
}
